@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Source+Code+Pro:wght@400;600&display=block');

[class*='RedisUI'] {
  min-width: unset;
  color: unset;
  box-sizing: border-box;
}

[class*='RedisUI'] h1,
[class*='RedisUI'] h2,
[class*='RedisUI'] h3,
[class*='RedisUI'] h4,
[class*='RedisUI'] h5,
[class*='RedisUI'] h6 {
  margin-bottom: 0;
  margin-top: 0;
}

[class*='RedisUI'] svg {
  vertical-align: unset;
}

svg:not([fill]) {
  fill: currentColor;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Source+Code+Pro:wght@400;600&display=block');